{% extends 'layout/basic.html' %}
{% load static %}

{% block title %}
Contact
{% endblock %}

{% block main %}


    <!-- Header Start -->
    <div class="jumbotron jumbotron-fluid mb-5">
        <div class="container text-center py-5">
            <h1 class="text-white display-3">Контакт</h1>
            <div class="d-inline-flex align-items-center text-white">
                <p class="m-0"><a class="text-white" href="{% url 'home' %}">Домой</a></p>
                <i class="fa fa-circle px-3"></i>
                <p class="m-0">Контакт</p>
            </div>
        </div>
    </div>
    <!-- Header End -->

    <!-- Contact Start -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 pb-4 pb-lg-0">
                    <div class="bg-primary text-dark text-center p-4">
                        <h4 class="m-0">Tel & WeChat / WhatsApp</h4>
                    </div>
                    <h3> </h3>
                    <p style="font-size: 16px;">
                        
                        +86 189 227 586 87 (Никита)<br>
                        +86 180 223 961 73 (Василий)<br><br>
                    </p>
                    <div class="bg-primary text-dark text-center p-4">
                        <h4 class="m-0">Telegram каналы</h4>
                    </div>
                    <h3> </h3>
                    <p style="font-size: 16px;">

                        Для Китая: <a href="https://t.me/V87CargoChina">@V87CargoChina</a><br><br>
                        Public: <a href="https://t.me/V87Cargo">@V87Cargo</a><br><br>

                    </p>
                </div>
                <div class="col-lg-7">
                    <h6 class="text-primary text-uppercase font-weight-bold">Cвязаться с нами</h6>
                    <h1 class="mb-4">Обращайтесь По Любым Вопросам</h1>
                    <div class="contact-form bg-secondary" style="padding: 30px;">
                        <div id="success"></div>
                        <form name="sentMessage" id="contactForm" novalidate="novalidate">
                            <div class="control-group">
                                <input type="text" class="form-control border-0 p-4" id="name" placeholder="Ваше имя"
                                    required="required" data-validation-required-message="Please enter your name" />
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group">
                                <input type="email" class="form-control border-0 p-4" id="email" placeholder="Ваш адрес электронной почты"
                                    required="required" data-validation-required-message="Please enter your email" />
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group">
                                <input type="text" class="form-control border-0 p-4" id="subject" placeholder="Предмет"
                                    required="required" data-validation-required-message="Please enter a subject" />
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group">
                                <textarea class="form-control border-0 py-3 px-4" rows="3" id="message" placeholder="Сообщение"
                                    required="required"
                                    data-validation-required-message="Please enter your message"></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                            <div>
                                <button class="btn btn-primary py-3 px-4" type="submit" id="sendMessageButton">Отправить</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->

{% endblock %}